aiosmtpd==1.4.6
azure-identity==1.24.0
ipcalc==1.99.0
logging-handler==1.0.7
parameter-verification==0.1.1
queue_processor==1.1.2
requests==2.32.5
azure-communication-email==1.0.0
validators==0.35.0
###
azure_smtp_relay==1.0.7
